<% provide :title, "Welcome Captain #{@rocketeer.(:full_name)}" %>

<i><%= "Email: #{@rocketeer.contact_detail.email}" %></i><br>
<i><%= "Apartment Number: #{@rocketeer.contact_detail.apartment_number}" %></i><br><br>
<i><%= "Phone Number: #{@rocketeer.contact_detail.phone}" %></i><br><br>

<p><%= link_to 'Home', root_url, :class => 'btn btn-primary' %></p>