<% provide :title, "Captain #{@rocketeer.try(:full_name)}" %>

<i><%= "Email: #{@rocketeer.try(:genre).try(:name)}" %></i><br>
<i><%= "Apartment Number: #{@rocketeer.word_count}" %></i><br><br>
<i><%= "Phone Number: #{@rocketeer.word_count}" %></i><br><br>

<p><%= link_to 'Home', root_url, :class => 'btn btn-primary' %></p>